! xterm
xterm*faceName: FiraCode Nerd Font 10
xterm*faceSize: 10
xterm*renderFont: true

xterm*background: #002b36
xterm*foreground: #839496
xterm*cursorColor: #fe8019

xterm*saveLines: 10000

! Normal
xterm*color0:  #073642
xterm*color1:  #dc322f
xterm*color2:  #859900
xterm*color3:  #b58900
xterm*color4:  #268bd2
xterm*color5:  #d33682
xterm*color6:  #2aa198
xterm*color7:  #eee8d5

! Bright
xterm*color8:  #657b83
xterm*color9:  #fb4934
xterm*color10: #b8bb26
xterm*color11: #fabd2f
xterm*color12: #83a598
xterm*color13: #d3869b
xterm*color14: #8ec07c
xterm*color15: #fdf6e3

! i3
i3.font: FiraCode Nerd Font 10
i3.term: xterm
i3.launcher: rofi -show drun -show-icons

i3.background: #073642
i3.foreground: #657b83
i3.accent:     #268bd2
i3.urgent:     #dc322f
