! xterm
xterm*faceName: FiraCode Nerd Font
xterm*faceSize: 12
xterm*renderFont: true
xterm*saveLines: 10000

! Background / Foreground
xterm*background: #282c34
xterm*foreground: #abb2bf
xterm*cursorColor: #abb2bf

! Normal
xterm*color0:  #282c34
xterm*color1:  #e06c75
xterm*color2:  #98c379
xterm*color3:  #e5c07b
xterm*color4:  #61afef
xterm*color5:  #c678dd
xterm*color6:  #56b6c2
xterm*color7:  #abb2bf

! Bright
xterm*color8:  #5c6370
xterm*color9:  #e06c75
xterm*color10: #98c379
xterm*color11: #e5c07b
xterm*color12: #61afef
xterm*color13: #c678dd
xterm*color14: #56b6c2
xterm*color15: #ffffff

! i3
i3.font: FiraCode Nerd Font 12
i3.term: xterm
i3.launcher: rofi -show drun -show-icons

i3.background:    #282c34
i3.foreground:    #abb2bf
i3.accent:        #98c379
i3.urgent:        #e06c75 
i3.text_active:   #282c34
i3.text_inactive: #abb2bf
