! xterm
xterm*faceName: FiraCode Nerd Font 10
xterm*faceSize: 10
xterm*renderFont: true
xterm*saveLines: 10000

! Background / Foreground
xterm*background: #32302f
xterm*foreground: #ddc7a1
xterm*cursorColor: #ddc7a1

! Normal (Soft)
xterm*color0:  #504945
xterm*color1:  #c14a4a
xterm*color2:  #6c782e
xterm*color3:  #b47109
xterm*color4:  #45707a
xterm*color5:  #945e80
xterm*color6:  #4c7a5d
xterm*color7:  #ddc7a1

! Bright (menos neon)
xterm*color8:  #665c54
xterm*color9:  #ea6962
xterm*color10: #a9b665
xterm*color11: #d8a657
xterm*color12: #7daea3
xterm*color13: #d3869b
xterm*color14: #89b482
xterm*color15: #fbf1c7

! i3
i3.font: FiraCode Nerd Font 10
i3.term: uxterm
i3.launcher: rofi -show drun -show-icons

i3.background: #32302f
i3.foreground: #ddc7a1
i3.accent:     #45707a
i3.urgent:     #c14a4a
